{% extends 'basefront.html.twig' %}


{% block body %}
    <body style="background-color: black">

    <h1 class="text-center mt-5 "style="color:white; font-size: 100px">Portfolio</h1>
    </body>
{% endblock %}

