{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block javascript %}{% endblock %}


{% block top %}
    <nav class="navbar navbar-expand-lg navbar-light pb-4 pt-4" style="background-color:#14CE36">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5" style="color:black">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path("accueil") }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("competences") }}">Compétences</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path("projets") }}">Mes projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("contact") }}">Contact</a>
                    </li>
                </ul>
                <form class="d-flex" >
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color:#000">
                    <button class="btn btn btn-dark" type="submit" style="color:#14CE36">Search</button>
                </form>
            </div>
        </div>
    </nav>
 
{% endblock %}
{% block body %}{% endblock %}

{% block footer %}{% endblock %}
